body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    width: 100%;
    height: 100vh;
    border: 0;
}
.menu {
    text-align: center;
}
.foods-right {
    margin-left:15em;
    display: inline-block;

}
.foods-left {
    text-align: left;
    display: inline-block;
}